body {
  background-color: rgba(223, 215, 144, 0.37);
  text-transform: capitalize;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
}

header .logo img {
  width: 300px;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px 0;
}

header nav ul li {
  position: relative;
  height: fit-content;
}

header nav ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000000;
  bottom: -10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  visibility: hidden;
}

header nav ul li:hover::before {
  visibility: visible;
  width: 100%;
  background-color: #00000080;
}

header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

header nav ul li a:hover {
  color: #00000080;
}

header nav .nav__tag {
  display: none;
}

@media screen and (max-width: 833px) {
  header {
    padding: 5px 20px;
  }
  header nav ul {
    flex-direction: column;
    background-color: rgb(223, 215, 144);
    position: fixed;
    top: 0;
    right: 0;
    width: 230px;
    height: 100vh;
    padding: 120px 20px;
    gap: 50px;
    display: none;
    z-index: 2;
  }

  header nav ul li a {
    font-size: 23px;
  }

  header nav .nav__tag {
    display: block;
  }

  header nav .nav__tag i {
    position: relative;
    font-size: 30px;
    margin-right: 10px;
    z-index: 3;
  }

  header nav .nav__tag i:last-child {
    display: none;
  }
}

body .main__container {
  width: clamp(300px, 1120px, 1120px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body .main__container .challenge__var {
  display: flex;
  justify-content: center;
  gap: 20px;
}

body .main__container .mark__up {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

body .main__container .mark__up .title__var {
  font-size: 36px;
  color: rgb(78, 134, 134);
}

.loop__challenge {
  width: 100%;
  padding: 20px 60px;
}

.loop__challenge .main__title {
  color: rgb(78, 134, 134);
  padding: 10px 50px;
}

.loop__challenge .admins h3 {
  padding: 10px 50px;
  font-family: "Vesper Libre", serif;
}

.loop__challenge .admins p {
  padding: 5px 50px;
}

.select__box__year {
  width: 150px;
  padding: 10px;
  border: none;
  outline: none;
  margin: 20px auto;
  text-align: center;
  background-color: rgb(78, 134, 134);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}

.create__elements {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.create__elements .row {
  display: flex;
  gap: 10px;
}

.create__elements .row input,
.create__elements .row select {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(78, 134, 134);
  background-color: #115f2b36;
  border: solid 1px rgb(78, 134, 134);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
}

.create__elements > input {
  width: 55%;
  background-color: rgb(78, 134, 134);
  color: #fff;
  font-size: 19px;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.create__elements .results12 {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.create__elements .results12 .box {
  font-size: 19px;
  padding: 10px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  background-color: rgb(78, 134, 134);
  color: #fff;
}

.assignment_2_week_13 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(78, 134, 134, 0.507);
  padding: 20px;
  margin: 20px 0;
  gap: 20px;
  border-radius: 100px 0 100px 0;
  -webkit-border-radius: 100px 0 100px 0;
  -moz-border-radius: 100px 0 100px 0;
  -ms-border-radius: 100px 0 100px 0;
  -o-border-radius: 100px 0 100px 0;
}

.assignment_2_week_13 .title {
  color: #f1f0f0;
}

.assignment_2_week_13 .input_toggle_class input {
  padding: 15px;
  font-size: 13px;
  border: solid 2px rgb(78, 134, 134);
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.assignment_2_week_13 #current_element,
.assignment_2_week_13 #show__classes {
  height: 55px;
  text-align: center;
  align-content: center;
  width: 610px;
  background-color: #f1f0f0;
  border-radius: 15px 0px 15px 0;
  -webkit-border-radius: 15px 0px 15px 0;
  -moz-border-radius: 15px 0px 15px 0;
  -ms-border-radius: 15px 0px 15px 0;
  -o-border-radius: 15px 0px 15px 0;
}

.assignment_2_week_13 #show__classes span {
  background-color: rgb(78, 134, 134);
  color: #f1f0f0;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
}
